

body {
  background: white;
  color: black;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: red;
}

nav .logo {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav ul li a:hover {
  color: gold;
}


.hero {
  height: 80vh;
  background: url("https://images.pexels.com/photos/2619967/pexels-photo-2619967.jpeg?cs=srgb&dl=pizza-2619967.jpg&fm=jpg") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.hero h1 {
  font-size: 60px;
  text-shadow: 2px 2px 10px black;
}

.hero p {
  font-size: 22px;
  margin-top: 10px;
}


.menu-container {
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.menu-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px white;
}

.menu-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-item h3 {
  margin: 10px 0 5px 0;
}

/* ABOUT */
.about-section {
  width: 80%;
  margin: auto;
  padding: 40px 0;
  font-size: 18px;
}

/* CONTACT */
.contact-section {
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid white;
}

button {
  padding: 12px 20px;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
}

button:hover {
  background: red;
}
